doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		style
			include ../public/css/allposts.css
		link(href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
		title All posts
	body
		div(class='topnav')
			a(class='active' href='allposts') All posts
			a(href='/myposts') My posts
			a(href='/posts') Create a post
			a(href='/profile') Profile
			a(href='/logout') Log out		
		br
		if message
			h4 #{message}
		br
		br
		div(class='box') 
			h1 All posts
			each post in posts
				each user in users
					if post.userId === user.id
						hr(class="intro-divider")
						h2 #{user.name} posted:	
						h3 <strong>Title:</strong> &nbsp; #{post.title}
						h4 <strong>Post:</strong> &nbsp; #{post.body}
						br
				form(action='/allposts' method='post')
					h3 Leave your comment: 
					input(type='hidden' value=post.id, name='postId')
					textarea(name='body' type='text' placeholder='Leave your comment here...')
					br
					br
					button(type='submit' class='button') Comment
				each comment in post.comments
					each user in users
						if comment.userId === user.id
							h4 #{user.name} comments: &nbsp; #{comment.body}

